In [5]:
pip install cassandra-driver

Requirement already satisfied: cassandra-driver in e:\data engineer\big data ineuron\practice\cassandra\cassandra_01\myenv\lib\site-packages (3.29.2)
Requirement already satisfied: geomet<0.3,>=0.1 in e:\data engineer\big data ineuron\practice\cassandra\cassandra_01\myenv\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in e:\data engineer\big data ineuron\practice\cassandra\cassandra_01\myenv\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.8)
Requirement already satisfied: six in e:\data engineer\big data ineuron\practice\cassandra\cassandra_01\myenv\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.17.0)
Requirement already satisfied: colorama in e:\data engineer\big data ineuron\practice\cassandra\cassandra_01\myenv\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import cassandra
print (cassandra.__version__)

3.29.2

In [8]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

In [45]:
cloud_config= {
  'secure_connect_bundle': 'secure-connect-cassandra-first.zip'
}

# This token JSON file is autogenerated when you download your token, 
# if yours is different update the file name below
with open("kaushalpandey455@gmail.com-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
  print(row[0])
else:
  print("An error occurred.")

4.0.11-3a52ecb0d31d

In [51]:
# Command to use a keyspace
try:
    query = "use first_keyspace"
    session.execute(query)
    print("Inside the keyspace")
except Exception as err:
    print("Exception Occured while using Keyspace : ",err)

Inside the keyspace

In [60]:
# Command to create a table inside a KEyspace
try:
    query = """create table employee(
                emp_id int,
                emp_name varchar,
                emp_salary int,
                emp_dept varchar,
                emp_email varchar,
                emp_phone varchar,
                primary key (emp_id, emp_dept)
              )
            """
    session.execute(query)
    print("Table created inside the keyspace")
except Exception as err:
    print("Exception Occured while creating the table : ",err)

Table created inside the keyspace

In [56]:
# Alter the table in cassandra to drop a column
try:
    query = "alter table employee drop emp_email"
    session.execute(query)
    print("Column dropped successfully !!")
except Exception as err:
    print("Exception Occured while dropping the column: ",err)

Column dropped successfully !!

In [57]:
# Alter the table in cassandra to add a new column
try:
    query = "alter table employee add emp_email text"
    session.execute(query)
    print("Column added successfully !!")
except Exception as err:
    print("Exception Occured while adding the column: ",err)

Column added successfully !!

In [58]:
# Drop a table in cassandra
try:
    query = "drop table employee"
    session.execute(query)
    print("Table dropped successfully !!")
except Exception as err:
    print("Exception Occured while dropping the table: ",err)

Table dropped successfully !!

In [67]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(6, 'Shashank', 10000, 'Software', 'abc.gmail.com','+91 768467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [69]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(5, 'Abhay', 56000, 'Software', 'abhya.gmail.com','+91 54679823')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [63]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(1, 'deepali', 98000, 'Software', 'depali.gmail.com','+91 998877665')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [64]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(2, 'chaman', 43258, 'Software', 'chaman.gmail.com','+91 34596875')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [65]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(3, 'aman', 80000, 'data engineer', 'aman.gmail.com','+91 7689543124')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [70]:
# Select query on cassandra table
try:
    query = "select * from employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=5, emp_dept='Software', emp_email='abhya.gmail.com', emp_name='Abhay', emp_phone='+91 54679823', emp_salary=56000)
Row(emp_id=1, emp_dept='Software', emp_email='depali.gmail.com', emp_name='deepali', emp_phone='+91 998877665', emp_salary=98000)
Row(emp_id=2, emp_dept='Software', emp_email='chaman.gmail.com', emp_name='chaman', emp_phone='+91 34596875', emp_salary=43258)
Row(emp_id=6, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)
Row(emp_id=3, emp_dept='data engineer', emp_email='aman.gmail.com', emp_name='aman', emp_phone='+91 7689543124', emp_salary=80000)

In [71]:
# Select query for specific columns in cassandra table
try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=5, emp_name='Abhay')
Row(emp_id=1, emp_name='deepali')
Row(emp_id=2, emp_name='chaman')
Row(emp_id=6, emp_name='Shashank')
Row(emp_id=3, emp_name='aman')

In [72]:
# Select query for specific columns in cassandra table and how to access from Row object
try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    # option 1
    for row in result:
        print("Emp ID : ", row[0])
        print("Emp Name : ", row[1])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Emp ID :  5
Emp Name :  Abhay
Emp ID :  1
Emp Name :  deepali
Emp ID :  2
Emp Name :  chaman
Emp ID :  6
Emp Name :  Shashank
Emp ID :  3
Emp Name :  aman

In [73]:
# Select query for specific columns in cassandra table and how to access from Row object
# Doesn't work
try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    # option 2
    for row in result:
        print("Emp ID : ", row['emp_id'])
        print("Emp Name : ", row['emp_name'])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Exception Occured while selecting the data from table:  tuple indices must be integers or slices, not str

In [74]:
# Write a query to get total count of employees
try:
    query = "select count(*) from employee"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(count=5)
5

In [76]:
try:
    query = "select * from employee where emp_name='chaman' ALLOW FILTERING"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=2, emp_dept='Software', emp_email='chaman.gmail.com', emp_name='chaman', emp_phone='+91 34596875', emp_salary=43258)

In [ ]:
# where clause for Partition key only or Rule no -1

try:
    query = "select * from employee where emp_id=2"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

In [77]:
# where clause for Clustering key only or Rule no - 2 

try:
    query = "select * from employee where emp_dept='Software' and emp_id=1"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='depali.gmail.com', emp_name='deepali', emp_phone='+91 998877665', emp_salary=98000)

In [78]:
# Group by in cassandra  -  Allowed for all columns which are part of Primary Key
# Follow given below rules
# Rule - 1 : Use only partition key in the group by
              #OR
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, sum(emp_salary) as sum_salary from employee group by emp_id"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=5, sum_salary=56000)

In [79]:
# Group by in cassandra 
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, emp_dept, sum(emp_salary) as sum_salary from employee group by emp_id, emp_dept"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=5, emp_dept='Software', sum_salary=56000)